<section class="container">
  <div class="courses-content">
    <h2 class="courses-title">Our <span>Courses</span></h2>
    <p class="courses-text">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>
  <div class="courses-wrapper-cards-items">
    <div class="courses-card-item">
      <ul class="courses-list-content">
        <li class="item-svg">
          <svg class="item-icon-svg" width="20" height="20">
            <use href="../img/sprite.svg#arrow-narrow-up-right"></use>
          </svg>
        </li>
        <li class="item-number">01</li>
        <li class="item-title">Basics of photography</li>
        <li class="item-text">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </li>
      </ul>
    </div>
    <div class="courses-card-item">
      <ul class="courses-list-content">
        <li class="item-svg">
          <svg class="item-icon-svg" width="20" height="20">
            <use href="../img/sprite.svg#arrow-narrow-up-right"></use>
          </svg>
        </li>
        <li class="item-number">02</li>
        <li class="item-title">Landscape photography</li>
        <li class="item-text">
          In this course, you'll learn how to choose the right angles, frame landscapes, and create depth and perspective in your images.
        </li>
      </ul>
    </div>
    <div class="courses-card-item">
      <ul class="courses-list-content">
        <li class="item-svg">
          <svg class="item-icon-svg" width="20" height="20">
            <use href="../img/sprite.svg#arrow-narrow-up-right"></use>
          </svg>
        </li>
        <li class="item-number">03</li>
        <li class="item-title">Portrait photography</li>
        <li class="item-text">
          During this course, you will learn to choose the right lighting, reproduce the mood and expressions on the faces of the models.
        </li>
      </ul>
    </div>
  </div>
</section>
