.about-us {
  margin-bottom: 80px;
  @media only screen and (min-width: 768px) {
    margin-bottom: 100px;
  }
}

.about-us-title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;

  /* line-height: 32px; */
  line-height: 1.14;
  color: var(--white);

  @media only screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25;
  }
}

.color-about-us-span {
  color: var(--brown);
  text-transform: capitalize;
}

.about-us-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about-us-img {
  border-radius: 1000px;
  margin-bottom: 40px;

  @media only screen and (min-width: 768px) {
    width: 704px;
    height: 340px;
    margin-bottom: 50px;
  }
  @media only screen and (min-width: 1280px) {
    width: 488px;
    height: 260px;
    margin-bottom: 0px;
    margin-right: 40px;
  }
  @media only screen and (min-width: 1440px) {
    width: 560px;
    height: 240px;
    margin-right: 35px;
  }
}

.about-us-text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.25;
  width: 335px;
  @media only screen and (min-width: 768px) {
    width: 280px;
    margin-right: 40px;
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1280px) {
    width: 268px;
    /* height: 260px; */
    margin-right: 20px;
  }
  @media only screen and (min-width: 1440px) {
    width: 305px;
    /* margin-right: 40px; */
    /* height: 220px; */
  }
}

.about-us-text-second {
  font-size: 16px;
  line-height: 1.25;
  width: 335px;
  @media only screen and (min-width: 768px) {
    width: 280px;
  }
  @media only screen and (min-width: 1280px) {
    width: 264px;
    /* height: 215px; */
  }
  @media only screen and (min-width: 1440px) {
    width: 276px;
    /* height: 220px; */
  }
}
