:root {
  --font-family: "DM Sans", sans-serif;
  --black: #121212;
	--white: #fff;
	--brown: #bea69e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;

  color: var(--white);
  background-color: var(--black);
}

/* === BACKGROUND LINES === */
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1152px; /* 288px * 4 */
  height: 100%;
  pointer-events: none;
  z-index: 0;

  background-image:
    /* 5 вертикальных пунктирных линий */
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    /* 5 горизонтальных пунктирных линий */
    repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2) 0,
        rgba(255, 255, 255, 0.2) 6px,
        transparent 6px,
        transparent 12px
      ),
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.2) 6px,
      transparent 6px,
      transparent 12px
    );

  background-size:
    1px 12px,
    1px 12px,
    1px 12px,
    1px 12px,
    1px 12px,
    12px 1px,
    12px 1px,
    12px 1px,
    12px 1px,
    12px 1px;

  background-position:
    0 0,
    88px 0,
    476px 0,
    578px 0,
    678px 0,
    /* вертикальные */ 
    0 0,
    0 125px,
    0 325px,
    0 515px,
    0 710px,
    0 910px; /* горизонтальные */

  background-repeat:
    repeat-y, repeat-y, repeat-y, repeat-y, repeat-y, repeat-x, repeat-x,
    repeat-x, repeat-x, repeat-x;
}
